<!--Script ---- section-->
  <!-- <footer>
    <nav class="navbar fixed-bottom navbar-light bg-light">
      <h6 class="display-6 navbar-text text-center p-3" >&copy; Copyright 2020. All rights reserved.</h6>
    </nav>
  </footer> -->
  <footer id="footer">
    <div class="container">
      <h3>Ankit Butola</h3>
      <p>Software Engineer in TCS for the past three years.</p>
      <div class="social-links">
        <a href="#" class=""><i class="fab fa-twitter"> </i></a>
                                        <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
                                        <a href="#" class="google-plus"><i class="fab fa-skype"></i></a>
                                        <a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>Laura</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- bootstrap docs, bootstrap fonts, bootstrap components -->
        Designed by <a href="https://getbootstrap.com/">Bootstrap</a>
      </div>
    </div>
  </footer><!-- End Footer -->
  <script src="/scripts/app.js"></script>
   <script src="/scripts/main.js"></script>
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script> 
</body>
</html>