 <link href="../content/style.css" rel="stylesheet">
 <%- include ../partials/header.ejs %>

<!-- Add page -->
<div class="container" >
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField">Contact Name</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter the Business Contact Name...."
                    Name="Name" required>
                </div>

                <div class="form-group">
                    <label for="authorTextField">Contact Number</label>
                    <input type="text" class="form-control"
                    id="authorTextField"
                    placeholder="Enter the Business Contact Number...."
                    Name="Contact" required>
                </div>

                <div class="form-group">
                    <label for="publishedTextField">Contact E-mail</label>
                    <input type="text" class="form-control"
                    id="publishedTextField"
                    placeholder="Enter the Business E-mail Address...."
                    Name="Email" required>
                </div>

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
                
                    <a href="/businessContactList" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>
            </form>
        </div>

    </div>
</div>


<%- include ../partials/footer.ejs %>